.Header {
    background-color: #282c34;
    min-height: 12vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
.product-div {
    width: 70%;
    margin-top: 30px;
}
.title-text {
    text-align: left;
    
}
.video-rt {
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    display: inline-block;
}
.parent-div {
    /* display: flex; */
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #e8e8e8;

}
h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.sub-div {
    display: flex;
    padding: 20px 104px 20px 20px;
}
.sub-div-right {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.sub-parent-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
    cursor: pointer,
}
.a-child {
    font-size:13px;
    font-weight:400;
    text-decoration:none;
    color: #6f6f6f;
}
.child-div {
    height: 24px;
    align-items: center;
    bottom: 20px;
    display: flex;
}
.child-div-rt {
    display: flex;
    flex-shrink: 0;
}
.custom-span {
    line-height: 16px;
    font-size: 11px;
    color:#6f6f6f;
    padding-right: 10px;
    margin-right: 10px;
}
.custom-border-rt {
    border-right: 1px solid #e8e8e8;
}
.custom-button {
    height: 74px!important;
    width: 64px!important;
    margin-left: 12px;
    border-color: #e8e8e8!important;
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.mul13 {
    width: 30px;
    height: 30px;
    position: relative;
}

.m13s {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.75;
}

.m13c1 {
    background-color: #1fa1db;
    -webkit-animation: m13s1anim 2s infinite linear;
    animation: m13s1anim 2s infinite linear;
}

.m13c2 {
    background-color: #ed1c24;
    -webkit-animation: m13s2anim 2s infinite linear;
    animation: m13s2anim 2s infinite linear;
}